@import "variables";

/*flex-content*/
@mixin flex-content ($direction: row){
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
};
@mixin flex-justify(){
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin ellipsis(){
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
