@import "mixins";
.g-footer {
  display: flex;
  width: 100%;
  height: $tabbar-height;
  background-color: #fff;
  &-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .iconfont {
      margin-bottom: 4px;
      font-size: $icon-font-size;
    }
  }
}
